<form action="https://formspree.io/f/xjvplrkd" method="POST">
  <fieldset class="fieldset  form__fieldset">
    <label>Name: <span class="required">*</span>
      <input type="text" name="name" placeholder="Your name..." required="required">
    </label>
    <label>Email address: <span class="required">*</span>
      <input type="text" name="email" placeholder="email@website.com" required="required">
    </label>
    <label>Your message: <span class="required">*</span>
      <textarea name="message" placeholder="Your message..." required="required"></textarea>
    </label>
    <button type="submit">Send</button>
    <br><small class="small"><span class="required">*</span> indicates a required field</small>
  </fieldset>
</form>
<noscript>Please enable JavaScript to use the form.</noscript>