@charset "utf-8";

// Import frameworks & theme styles
@import
  "normalize",
  "settings",
  "sassline-base",
  "syntax",
  "flex",
  "theme"
;

.mobile-only {display: none;} 

@media only screen and (max-width: 768px){ 
    .mobile-only {
        display: inline;
    }
}

.desktop-only { display: inline; } 

@media only screen and (max-width: 768px){ 
    .desktop-only {
        display: none;
    }
}

.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

a.skip:active, 
a.skip:focus, 
a.skip:hover {
    left: 0; 
    top: 0;
    width: auto; 
    height: auto; 
    overflow: visible; 
}
